:root {
    --border-color: #ddd;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}

/* Start of main input css */

.input-error {
    background-color: #FFF0F4;
    border: 1px solid #C31846 !important;
}

.trans-input {
    height: 40px;
    border: none;
}

#transaction-input-fields {
    height: 100px;
    padding: 30px 10px;
    background-color: #ddd;
}

#trans-date-input {
    box-shadow: none;
    width: 160px;
    /*border: none;*/
}

#trans-description-input {
    width: 420px;
}

#trans-amount-input {
    width: 120px;
}

#trans-category-input {

}

#add-transaction {
    margin: 0;
}

/* End of main input css */

.trans-date {
    width: 160px;
}

.trans-description {
    width: 420px;
}

.trans-category {
    width: 110px;
}

.trans-amount {
    width: 110px;
    text-align: right;
}

.item {
    display: inline-block;
    height: 35px;
    border-right: 1px solid var(--border-color);
    line-height: 35px;
    padding: 0 5px;
}

.item:last-child {
    border-right: none;
}

.transaction {
    border-bottom: 1px solid var(--border-color);
}
