:root {
    --border-color: #ddd;
    --date-width: 15%;
    --description-width: 45%;
    --category-width: 15%;
    --amount-width: 12%;
    --icons-width: 10%;
}

#title {
    text-align: center;
    padding: 20px;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}

/* Start of main input css */

.input-error {
    background-color: #FFF0F4;
    border: 1px solid #C31846 !important;
}

.trans-input {
    height: 40px;
    border: none;
    background-color: #EFEFEF;
    padding: 0 7px;
}

#transaction-input-fields {
    height: 60px;
    padding: 10px;
    /*background-color: #ddd;*/
}

#trans-date-input {
    box-shadow: none;
    width: 160px;
}

#trans-description-input {
    width: 420px;
}

#trans-amount-input {
    width: 120px;
}

#trans-category-input {
    position: relative;
    top: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#add-transaction {
    position: relative;
    top: -2px;
    margin: 0;
}

/* End of main input css */
#transactions-header {
    border-bottom: 1px solid var(--border-color);
    height: 40px;
}

.header {
    line-height: 40px;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    padding: 0 7px;
}

#header-date {
    width: var(--date-width);
}

#header-description {
    width: var(--description-width);
}

#header-category {
    width: var(--category-width);
}

#header-amount {
    width: var(--amount-width);
}

#header-icons {
    width: var(--icons-width);
}

.trans-date {
    width: 15%;
}

.trans-description {
    width: 45%;
}

.trans-category {
    width: 15%;
}

.trans-amount {
    width: 12%;
    text-align: right;
}

.trans-icons {
    width: 10%;
}

.icon {
    display: inline-block;
    width: 45%;
}

.icon > img {
    width: 14px;
    display: block;
    margin: auto;
}

.item {
    display: inline-block;
    height: 35px;
    border-right: 1px solid var(--border-color);
    line-height: 35px;
    padding: 0 12px;
}

.item:last-child {
    border-right: none;
}

.transaction {
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.fileUpload {
    position: relative;
    overflow: hidden;
    float: right;
    margin-top: 15px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

